DEVELOPMENT=true
SERVER_PORT=3000
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=db

AUTH_ISSUER_URI="https://local"
AUTH_AUDIENCE="chat"

JWT_SECRET=kissa
JWT_EXP=3h
JWT_SECRET_REFRESH=koira
JWT_EXP_REFRESH=7d
JWT_ISSUER="https://local.local.com"

REDIS_URL=redis

CLIENT_PROXY="http://client:5173"